gps/20??????.gpx
gps/20??????.min.gpx
gps/20??????.kml
gps/20??????-ele.png
gps/20??????-ele.ps
gps/20??????-spd.ps
gps/20??????-ele2.png
gps/20??????-ele2.ps
gps/20??????-geotag
gps/20??????.dat
gps/20??????.gnuplot
gps/all.gpx
gps/all.kml
*.pyc
