/_build/
/_shake/
*.hi
*.o
/junk/
/GPS_DATA/*.SBN
/GPS_DATA/*.SBP
/GPS_DATA/*.TXT
/GPS_DATA/*.NMEA
/GPS_DATA/*.BIN
/tracks/*.gpx
__pycache__
/dist/
/dist-ghcjs/
/.styx/
/cabal.sandbox.config
/frontend/static/tour.css
